body {
	background-color: transparent;
}

.container{
	width:100%;
	text-align: center;

}

.container img{
	height: 25%;
	width: 25%;
	background-color: transparent;
	margin-left:50px;
}

header {
/*	font-family: 'Droid Sans', sans-serif;
*/
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 50px;
	color:#f7d79b;
}


.width-290 {
	width:20%;
	height:52px;
/*	font-weight:bold;
*/	font-size:20px;
	margin: 5px;
	letter-spacing: 1px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
/*	font-family: 'Droid Sans', sans-serif;
*/}

a:visited{
	color:white;
}

.container-fluid { 
margin: auto;
text-align: center;
background-size: cover;
width:100%;
height: 100%;
z-index:2;
background-color: white;
position:fixed;
border-radius: 25px;
border: 2px #f7d79b;
}

/*.btn {
	height:52px;
	font-weight:bold;
	font-size:20px;
	margin: 5px;
	letter-spacing: 1px;
	font-family: 'Droid Sans', sans-serif;
}*/

